@model Project278.Models.User;

@{
    ViewBag.Title = "Profile";
}

<style rel="stylesheet" src="~/css/profile.css"></style>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                @if (string.IsNullOrEmpty(@Model.AvatarUrl)) {
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Profile avatar">
                }
                else {
                    <img class="rounded-circle mt-5" width="150px" src="@Model.AvatarUrl" alt="Profile avatar">
                }
                <span class="font-weight-bold">@Model.UserName</span>
                <span class="text-black-50">@Model.Email</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Username</label>
                        <input type="text" class="form-control" placeholder="Username" value="@Model.UserName">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Age</label>
                        <input type="number" class="form-control" placeholder="Age" value="@Model.Age">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Gender</label>
                        <select class="form-select">
                            <option hidden selected>@Model.Gender</option>
                            <option>Other</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Mobile Number</label>
                        <input type="tel" class="form-control" placeholder="Phone number" value="@Model.PhoneNumber">
                    </div>

                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        <input type="text" class="form-control" placeholder="Address line" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="email" class="form-control" placeholder="enter email id" value="@Model.Email">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Avatar Url</label>
                        <input type="url" class="form-control" placeholder="Insert an image url" value="@Model.AvatarUrl">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Purchase History</span>
                    <a class="border px-3 p-1 add-experience" asp-action="Index" asp-controller="Label">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buy
                    </a>
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Notes</label>
                    <input type="text" class="form-control" placeholder="experience" value="">
                </div> <br>
                <div class="col-md-12">
                    <label class="labels">Additional Details</label>
                    <input type="text" class="form-control" placeholder="additional details" value="">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
