@model IEnumerable<Label>;

<div class="row d-flex justify-content-center align-items-stretch mt-4" id="movie-details">
    @foreach(Label label in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="position-relative">
                <img src="@label.Thumbnail" alt="@label.Title movie cover" class="img-fluid w-100 h-100">
                <span class="img-hover-text bg-danger text-light position-absolute p-1 text-uppercase">@label.ReleaseYear</span>
            </div>
            <div class="d-flex flex-column gap-2 align-items-start">
                <h3>@label.Title</h3>
                <h5>@label.ArtistName</h5>
                <div class="d-flex text-light my-2 gap-2 flex-wrap">
                    @foreach(string format in label.Format.Split(","))
                    {
                        <span class="bg-dark p-1">@format</span>
                    }
                </div>
                <p class="lead">$@Math.Round(label.Price, 2)</p>

                <a class="btn btn-success" asp-controller="Label" asp-action="Details" asp-route-id="@label.LabelId">View Details</a>
            </div>
        </div>
    }
</div>


